.App {
  background: darkgreen;
  padding: 20px;
}

.App h1 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 2.5rem;
  color: yellow;
}

.instruction {
  margin-top: 0;
  font-size: 1.05rem;
  color: lightblue;
}

.scores {
  color: lightgreen;
  display: flex;
  gap: 20px;
  font-size: 1.2rem;
}

.scores strong {
  font-size: 1.5rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.card {
  padding: 10px;
  background-color: lightgreen;
  border-radius: 10px;
}

.card:hover {
  box-shadow: 0 0 20px yellow;
  cursor: pointer;
}

.card img {
  width: 100%;
}

.card p {
  text-align: center;
  font-weight: bold;
  font-size: 1.3rem;
  color: blue;
}
